<%= stylesheet_link_tag 'paper-dashboard',
                        'animate.min.css',
                        'bootstrap4.min.css',
                        'themify-icons',
                        'https://fonts.googleapis.com/css?family=Muli:400,300' %>

<%= javascript_include_tag  'bootstrap4.min.js',
                            'bootstrap-checkbox-radio',
                            'chartist.min.js',
                            'bootstrap-notify',
                            'paper-dashboard',
                            'new-donate' %>




<div class="wrapper">
    <% if !current_user.address%>
        <%= render 'navbar' %>
        <%= render 'create_address' %>
    <% else %>
        <%= render 'sidebar' %>

        <div class="main-panel">
            <%= render 'navbar' %>

            <%= render partial: 'dashboard', locals: {available_donates: @available_donates , progress_donates: @progress_donates, received_donates: @received_donates} %>
            <%= render 'user' %>
            <%= render 'footer' %>

        </div>
    <% end %>
</div>