<div class="content" id="content-user-managments" hidden="true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-user"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Doadores Cadastrados</p>
									<% if donators %>
                                    	<%= donators.size%>
									<% else %>
										<p>Não há doadores cadastrados</p>
									<% end %>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizado agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-user"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Instituições Cadastrados</p>
									<% if charities %>
                                    	<%= charities.size%>
									<% else %>
                                        <span>0 </span>
									<% end %>                                
								</div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizado agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Doadores Cadastrados</h4>
                    </div>
                    <div class="content">
                        <div class="content table-responsive table-full-width table-wrapper">
								<table class="table table-striped">
                                <tbody>
                                    <thead>
                                        <tr> 
                                            <th>CNPJ</th>                                            
                                            <th class= "col-md-2">Email</th>                                            
                                            <th>Excluir Usuário</th>                                            
                                        </tr>
                                    </thead>

                                    <% donators.each do |donator|%>
                                        <tr>
                                            <td><%= donator.cnpj %></td>
                                            
                                            <td><%= donator.email %></td>
                                            
                                            <td>
                                                <%= button_to refuse_path(donator.id), method: :delete, class: 'btn btn-danger' do %>
                                                    <i class="fa fa-times"></i>
                                                <%end%>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizado Agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Instituições de Caride Cadastradas</h4>
                    </div>
                    <div class="content">
                       <div class="content table-responsive table-full-width table-wrapper">
                            <table class="table table-striped">
                                <tbody>
                                    <thead>
                                        <tr> 
                                            <th>CNPJ</th>                                            
                                            <th class="col-md-2">Email</th>                                            
                                            <th>Excluir Usuário</th>                                            
                                        </tr>
                                    </thead>

                                    <% charities.each do |charity|%>
                                        <tr>
                                            <td><%= charity.cnpj %></td>
                                            
                                            <td><%= charity.email %></td>
                                            
                                            <td>
                                                <%= button_to refuse_path(charity.id), method: :delete, class: 'btn btn-danger' do %>
                                                    <i class="fa fa-times"></i>
                                                <%end%>
                                            </td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>


                        <div class="footer">
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizado agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>