<%= stylesheet_link_tag 'paper-dashboard',
                        'animate.min.css',
                        'bootstrap4.min.css',
                        'themify-icons',
                        'https://fonts.googleapis.com/css?family=Muli:400,300' %>

<%= javascript_include_tag  'bootstrap4.min.js',
                            'bootstrap-checkbox-radio',
                            'chartist.min.js',
                            'bootstrap-notify',
                            'paper-dashboard' %>




<div class="wrapper">
    <%= render 'sidebar' %>

    <div class="main-panel">
        <%= render 'navbar' %>

        <%= render partial: 'dashboard' , locals: {charities: @pending_charities , donators: @pending_donators} %>        
        <%= render partial: 'donates', locals: {created_donates: @created_donates , progress_donates: @progress_donates, made_donates: @made_donates} %>
        <%= render partial: 'user-managments' , locals: {charities: @accepted_charities , donators: @accepted_donators} %> %>
        <%= render 'footer' %>

    </div>
</div>