<div class="content" id="content-user" hidden="true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Endereço</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Região</label>
                                        <input type="text" id="region" class="form-control border-input" disabled placeholder="<%= current_user.address.region %>" value="<%= current_user.address.region %>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input type="text" id="state" class="form-control border-input" disabled placeholder="<%= current_user.address.state %>" value="<%= current_user.address.state %>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" id="city" class="form-control border-input" disabled placeholder="<%= current_user.address.city %>" value="<%= current_user.address.city %>">
                                    </div>
                                </div>                                
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Logradouro</label>
                                        <input type="text" id="public_place" class="form-control border-input" disabled placeholder="<%= current_user.address.public_place %>" value="<%= current_user.address.public_place %>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bairro</label>
                                        <input type="text" id="neighborhood" class="form-control border-input" disabled placeholder="<%= current_user.address.neighborhood %>" value="<%= current_user.address.neighborhood %>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input type="number" id="number_address" class="form-control border-input" disabled placeholder="<%= current_user.address.number %>" value="<%= current_user.address.number %>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Informações Adicionais</label>
                                        <input type="text" id="additional_information" class="form-control border-input" disabled placeholder="<%= current_user.address.additional_information %>" value="<%= current_user.address.additional_information %>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CEP</label>
                                        <input type="number" id="cep" class="form-control border-input" disabled placeholder="<%= current_user.address.number %>" value="<%= current_user.address.number %>">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" hidden="true" id="div-confirm-address">
                                <button type="submit" class="btn btn-success btn-wd" id="confirm-address">Confirmar Endereço</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <div class="text-center">
                            <button class="btn btn-info btn-fill btn-wd" id="update-address">Atualizar Endereço</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Perfil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>CNPJ</label>
                                        <input type="text" class="form-control border-input" disabled placeholder="<%= current_user.cnpj %>" value="<%= current_user.cnpj %>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control border-input" disabled placeholder="<%= current_user.name %>" value="<%= current_user.name %>">
                                    </div>
                                </div>
                                <div class="col-md-3">
                            
                                    <div class="form-group">
                                        <label for="InputEmail1">Telefone</label>
                                        <input type="email" class="form-control border-input" disabled placeholder="<%= current_user.phone %>" value="<%= current_user.phone %>">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="InputEmail1">Email </label>
                                        <input type="email" class="form-control border-input" disabled placeholder="<%= current_user.email %>" value="<%= current_user.email %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="InputEmail1">Senha</label>
                                        <input type="password" class="form-control border-input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Atualizar Perfil</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script type="text/javascript"> 
$(document).ready(function () {
    $('#update-address').click(function(event) {
        $(event.target).fadeOut(200, function() {
            $('#public_place').attr("disabled", false);
            $('#city').attr("disabled", false);
            $('#state').attr("disabled", false);
            $('#region').attr("disabled", false);
            $('#neighborhood').attr("disabled", false);
            $('#number_address').attr("disabled", false);
            $('#additional_information').attr("disabled", false);
            $('#div-confirm-address').fadeIn(300);
        });
    });
    $('#confirm-address').click(function(){
        const addressJson = {};
        addressJson["public_place"] = $('#public_place').val();
        addressJson["city"] = $('#city').val();
        addressJson["state"] = $('#state').val();
        addressJson["region"] = $('#region').val();
        addressJson["neighborhood"] = $('#neighborhood').val();
        addressJson["number"] = $('#number_address').val();
        addressJson["additional_information"] = $('#additional_information').val();
        $.post('/update-address', {'address': JSON.stringify(addressJson)}, function(data) {
            location.reload();
        });
    });
})

</script>